@import _normalize.scss
@import _fonts.scss

body
    min-width: 320px
    overflow-x: hidden
    font-weight: normal
    font-family: 'Montserrat'
    font-size: 15px

.container
    width: 100%
    max-width: 1100px
    margin: 0 auto

@import _media.sass